body {
  background: #505650;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fabPosition{
  position: fixed;
  bottom: 4rem;
  right:2rem;
  }

.MuiAppBar-colorPrimary {
    color:#fff !important;
    background-color: #1d1d1d !important;
}